.header{
    height: 100px;
    width: 100%;
    background-color: #52ACAA;
}
.main-holder{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 79vw;
    
    margin-left: 13%;
}
.torol-holder{
    margin-right: 40px;
}
.duureg{
    border: rgb(117,117,117) 1px solid;
    width: 150px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
}
.turul{
    border:rgb(117,117,117) 1px solid;
    width: 150px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
}
body{
    margin: 0px;
}
.setgegdel-holder{
    display: flex;
    flex-direction: column;
    border-left: rgb(117,117,117) solid 1px;
    height: 100vh;
}
.setgegdel{
    border: rgb(117,117,117) solid 1px;
}